*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    color: #009970;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background-color: #ebebeb;
}

/*------Parâmetros da Página [Cabeçalho]------*/

#corpo{
    width: 400px;
    height: auto;
    background-color: #FFF;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
header{
    width: 100%;
    height: 50px;
    /*background-color: #f8f8f8;*/
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    align-items: center;
    border-bottom: solid 0.5px #d3dfdc;
}
.logo1{
    width: 170px;
    height: 60px;
    background-size: 150px;
    background-repeat: no-repeat;
    background-image: url(logo-bom-futuro.png);
    background-position-y: center;
    /*background-color: #009970;*/
}
.logo2{
    width: 170px;
    height: 60px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: center;
    background-image: url(logoSeg.png);
    /*background-color: #a1c4ba;*/
}

/*------Parâmetros da Página [Superior]------*/

article{
    width: 340px;
    height:auto;
    /*background-color: rgb(223, 223, 223);*/
}

#header2{
 border: 0px;
 height: 30px;
}
h1{
    font-size: 10pt;
}
#tabela01{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    align-items: center;
    width: 340px;
    /*background-color: #009970;*/
}
#tabela01 tr{
    width: 350px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#tabela01 .label{
    width: 150px;
    height: 20px;
    /*border: solid 1px aquamarine;
    background-color: aquamarine;*/
    font-weight:normal;
    text-align: left;
}
#tabela01 .input{
    width: 150px;
    height: 30px;
    border-bottom: solid 1px aquamarine;
    /*background-color: aquamarine;*/
    font-weight:normal;
    text-align: left;
}
#tabela01 .label2{
    width: 325px;
    height: 20px;
    /*border-bottom: solid 1px aquamarine;*/
    /*background-color: aquamarine;*/
    font-weight:normal;
    text-align: left;
}
#tabela01 .input2{
    width: 325px;
    height: 20px;
    /*border: solid 1px aquamarine;*/
    background-color: aquamarine;
    font-weight:normal;
    text-align: left;
    border-bottom: solid 1px rgb(75, 75, 75);
}
#tabela01 .label3{
    width: 325px;
    height: 25px;
    border-bottom: solid 1px rgb(54, 54, 54);
    /*background-color: aquamarine;*/
    font-weight:normal;
    text-align: left;
    font-size: 9pt;
}
#tabela01 .label4{
    width: 325px;
    height: 20px;
    border-top: solid 1px rgb(54, 54, 54);
    /*background-color: aquamarine;*/
    font-weight:normal;
    text-align: center;
}
.espaco{
    /*background-color: #009970;*/
    color: #FFF;
    width: 200px;
    height: 30px;
}
/*Estilização de inputs e textarea*/
textarea{
    resize: none;
    width: 320px;
    height: 40px;
    max-width: 325px;
    max-height: 100px;
    border: solid 0.5px;
    font-size: 10pt;
    outline: none;
    padding-left: 5px;

}
input[type=date]{
    width: 150px;
    border: solid 0.5px;
    outline: none;
}
input[type=time]{
    width: 150px;
    border: solid 0.5px;
    outline: none;
}
input[type=text]{
    width: 320px;
    height: 20px;
    border: 0px;
    padding-left: 5px;
    font-size: 10pt;
    outline: none;
}

/*Estilização Input imagem*/
#picture__input{
    display: none;
}
.picture {
    width: 150px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    outline: none;
    overflow: hidden;
  }
  
  .picture:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
  }
  
  .picture__img {
    max-width: 100%;
  }
  /*...*/
  #picture__input2{
    display: none;
}
.picture2 {
    width: 150px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    outline: none;
    overflow: hidden;
  }
  
  .picture2:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture2:active {
    /*border-color: turquoise;*/
    color: turquoise;
    background: #eee;
  }
  
  .picture2:focus {
    color: #777;
    background: #ccc;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
  }
  
  .picture__img2 {
    max-width: 100%;
  }
footer{
    background-color: #009970;
    width: 200px;
    height: 10px;
}